$header-bg-color: #000;
$main-bg-color: #333;
$text-color: #fff;
$no-image-box: #000;
$text-card-back: #dddddd;
$border-card: #525252;

/*
<i class="fa-solid fa-star"></i>
<i class="fa-regular fa-star"></i>
*/
