@use "./partials/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: $main-bg-color;
}

main {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}
